<section class="physical-dimensions">
  <label>Dimensions</label>
  <span class="value">
    <data data-key="physical-dimensions-0"><% if (physical.dimensions) { %><%= physical.dimensions[0] %><% } %></data> &times; 
    <data data-key="physical-dimensions-1"><% if (physical.dimensions) { %><%= physical.dimensions[1] %><% } %></data> &times; 
    <data data-key="physical-dimensions-2"><% if (physical.dimensions) { %><%= physical.dimensions[2] %><% } %></data>mm 
    <span class="hint">width &times; height &times; depth</span>
  </span>
</section>

<section class="physical-weight">
  <label>Weight</label>
  <span class="value"><data data-key="physical-weight"><%= physical.weight %></data>kg</span>
</section>

<section class="physical-power">
  <label>Power</label>
  <span class="value"><data data-key="physical-power"><%= physical.power %></data>W</span>
</section>

<section class="physical-DMXconnector">
  <label>DMX connector</label>
  <span class="value"><data data-key="physical-DMXconnector"><%= physical.DMXconnector %></data></span>
</section>


<h3>Bulb</h3>

<section class="physical-bulb-type">
  <label>Bulb type</label>
  <span class="value"><data data-key="physical-bulb-type"><% if (physical.bulb) { %><%= physical.bulb.type %><% } %></data></span>
</section>

<section class="physical-bulb-colorTemperature">
  <label>Color temperature</label>
  <span class="value"><data data-key="physical-bulb-colorTemperature"><% if (physical.bulb) { %><%= physical.bulb.colorTemperature %><% } %></data>K</span>
</section>

<section class="physical-bulb-lumens">
  <label>Lumens</label>
  <span class="value"><data data-key="physical-bulb-lumens"><% if (physical.bulb) { %><%= physical.bulb.lumens %><% } %></data></span>
</section>


<h3>Lens</h3>

<section class="physical-lens-name">
  <label>Name</label>
  <span class="value"><data data-key="physical-lens-name"><% if (physical.lens) { %><%= physical.lens.name %><% } %></data></span>
</section>

<section class="physical-lens-degreesMinMax">
  <label>Light cone</label>
  <span class="value"><data data-key="physical-lens-degreesMin"><% if (physical.lens) { %><%= physical.lens.degreesMinMax[0] %><% } %></data>..<data data-key="physical-lens-degreesMin"><% if (physical.lens) { %><%= physical.lens.degreesMinMax[1] %><% } %></data>°</span>
</section>


<h3>Focus</h3>

<section class="physical-focus-type">
  <label>Type</label>
  <span class="value"><data data-key="physical-focus-type"><% if (physical.focus) { %><%= physical.focus.type %><% } %></data></span>
</section>

<section class="physical-focus-panMax">
  <label>Max. pan</label>
  <span class="value"><data data-key="physical-focus-panMax"><% if (physical.focus) { %><%= physical.focus.panMax %><% } %></data>°</span>
</section>

<section class="physical-focus-tiltMax">
  <label>Max. tilt</label>
  <span class="value"><data data-key="physical-focus-tiltMax"><% if (physical.focus) { %><%= physical.focus.tiltMax %><% } %></data>°</span>
</section>