<% include ../partials/header.ejs %>

<h1>Manufacturers</h1>

<%
for (man in manufacturers) {
  let manufacturer = manufacturers[man];
  let num = manufacturersIndex[man].length;
  let numFixtures = `${num} fixture${num == 1 ? '' : 's'}`;
%>
  <section class="manufacturer">
    <h2><%- (num > 0) ? `<a href="${man}">${manufacturer.name}</a>`: manufacturer.name %></h2>
    <% if ('website' in manufacturer) { %>
      <div class="website">
        <a href="<%= manufacturer.website %>">Website</a>
      </div>
    <% } %>
    <% if ('comment' in manufacturer) { %>
      <p class="comment">
        <%= manufacturer.comment %>
      </p>
    <% } %>
    <div class="fixtures"><%= numFixtures %><% if (num > 0) { %> - <a href="/<%= man %>">View them</a><% } %></div>
  </section>
<%
}
%>

<% include ../partials/footer.ejs %>