<% include ../partials/header.ejs %>

<h1><a href="<%= manufacturerPath %>"><data data-key="manufacturer"><%= manufacturer.name %></data></a> <data data-key="name"><%= fixture.name %></data> <code><data data-key="shortName"><%= fixture.shortName %></data></code></h1>

<section class="fixture-info">

<section class="type">
  <label>Category</label>
  <span class="value"><data data-key="type"><%= fixture.type %></data></span>
</section>

<section class="comment">
  <label>Comment</label>
  <span class="value"><data data-key="comment"><%= fixture.comment %></data></span>
</section>

<section class="manualURL">
  <label>Manual</label>
  <span class="value"><a href="<%= fixture.manualURL %>"><data data-key="manualURL"><%= fixture.manualURL %></data></a></span>
</section>

<details class="physical">
  <summary>Physical data</summary>

  <% let physical = fixture.physical; %>
  <% include ../partials/physical.ejs %>
</details>

<% fixture.modes.forEach(mode => { %>
  <h2><%= mode.name %> <code><%= mode.shortName %></code></h2>
  <% let physical = mode.physical;
  if (physical) { %>
    <details class="physical physical-override">
      <summary>Physical overrides</summary>

      <% include ../partials/physical.ejs %>
    </details>
  <% }
  else { %>
    <details class="physical physical-override empty">
      <summary>No physical overrides</summary>
    </details>
  <%} %>

  <h3>Channels</h3>
  <ol>
    <% mode.channels.forEach((ch, i) => {
      let channel = fixture.availableChannels[ch]; %>
      <li data-index="<%= i %>">
        <details class="channel">
          <summary><%= channel.name || ch %></summary>
          <% include ../partials/channel.ejs %>
        </details>
      </li>
    <% }); %>
  </ol>
<% }); %>

</section>

<% include ../partials/footer.ejs %>